body, html{
  margin: 0;
  padding: 0;
}

#naeb{
	font-size: 32;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 22%;
	left: 50%;
	margin-left: 0px;
	margin-right: -200px;
	text-align: center;
}
#stih{
	font-size: 32;
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;
	top: 100%;
	left: 50%;
}
